* {
  font-family: 'Open sans', sans-serif;
}

body {
  background-color: #354052;
  box-sizing: border-box;
  margin: 0;
}

main {
  margin-left: 200px;
  transition: 0.5s;
}

.light {
  color: #A1ABBE;
}


/*Sidebar styles here*/

.sidebar {
  bottom: 0;
  height: max-content;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 200px;
  z-index: 1;
}

.profile-photo {
  border-bottom: solid #3d495c;
  border-width: .5px;
  text-align: center;
}

.frankie {
  border-radius: 100px;
  margin-top: 30px;
  width: 80px;
}

.username {
  color: #A1ABBE;
  font-size: .9em;
  margin-bottom: 30px;
}

.sidebar-group {
  border-bottom: solid #3d495c;
  border-width: .2px;
  display: flex;
  flex-direction: column;
}

.sidebar-group-header {
  color: #65758C;
  font-size: .75em;
  margin: 30px 15px 10px;
}

.fas {
  color: #A1ABBE;
  cursor: pointer;
  font-size: 1.3em;
  margin: 0px 20px;
  width: 5px;

}

.fa-chevron-down {
  font-size: .7em;
  margin-left: 7px;
}

.hover-div {
  border-left: solid #354052;
}

.hover-div:hover {
  background-color: #303949;
  border-left: solid #26A6F7;
}

.hover-div:hover .icon-text {
  filter: brightness(120%);
}

.icon-text {
  cursor: pointer;
  font-size: .75em;
  font-weight: bold;
  margin: 10px 15px 15px 0;
}

.categories-text {
  font-size: .55em;
  font-weight: bold;
  margin: 10px 15px 15px 0;
}

.categories-text:hover {
  filter: brightness(120%);
}

.categories-text:hover .square-change {
  cursor: pointer;
  filter: brightness(120%);
}

.yellow-square {
  color: #FED331;
}

.yellow-square,
.blue-square,
.red-square,
.green-square {
  font-size: 2em;
  position: relative;
  top: 3px;
}

.blue-square {
  color: #36B1FC;
}

.red-square {
  color: #E72263;
}

.green-square {
  color: #19A88A;
}



/*Search bar style here*/

.search-bar {
  display: flex;
  height: 70px;
  background-color: #FFFFFF;
}

button.sidebar-toggle {
  background-color: #FFFFFF;
  border-bottom: solid .1px #A2AAB7;
  border-right: solid .1px #A2AAB7;
  border-top: none;
  cursor: pointer;
  height: 100%;
  width: 80px;
}

.sidebar-toggle:hover {
  background-color: #354052;
  border-color: #354052;
}

.sidebar-toggle:focus {
  outline: 0;
}

.fa-caret-left {
  bottom: 2px;
  color: #26A6F7;
  font-size: 1em;
  margin: 0;
  position: relative;
}

.fa-bars {
  color: #354052;
  margin: 0 14px 0 0;
}

.sidebar-toggle:hover .fa-bars {
  color: #A1ABBE;
}

.search-input {
  border-bottom: solid .1px #A2AAB7;
  border-left: none;
  border-right: none;
  border-top: solid .1px #A2AAB7;
  height: 67.5px;
  width: 100%;
}

.search-input:focus {
  outline: 0;
}

.search-input::placeholder {
  color: #A2AAB7;
}

.search-input:hover .search-input::placeholder {
  color: white;
}

.searchbar-btns {
  display: flex;
  float: right;
  max-width: 60%;
}

.user-btn,
.search-btn {
  background-color: #FFFFFF;
  border-bottom: solid .1px #A2AAB7;
  border-left: solid .1px #A2AAB7;
  border-right: none;
  cursor: pointer;
  width: 80px;
}

.search-btn {
  border-right: none;
  width: 20%;
}

.user-btn:hover {
  background-color: #26A6F7;
}

.user-btn:hover .user-icon {
  color: #FFFFFF;
}

.user-icon {
  position: relative;
  right: 5px;
}


/*Page Title Styles*/

.page-title {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h1 {
  color: #5a5d69;
  font-size: 1.4em;
  font-weight: normal;
  margin: 40px 50px 10px;
  white-space: nowrap;
}

.title-info {
  display: inline-block;
  margin: 0 40px 50px;
}

.fa-map-marker-alt {
  font-size: 1.1em;
  margin-right: 15px;
}

.fa-circle1 {
  bottom: 4px;
  font-size: 4px;
  margin-bottom: 10px;
  position: relative;
}

.title-info-text1,
.title-info-text2 {
  font-size: .8em;
  text-decoration: none;
}

.title-info-text2 {
  color: #31ACF7;
}

.title-info-text1:hover,
.title-info-text2:hover {
  filter: brightness(80%);
}


li {
  margin-right: 10px;
}

.title-nav {
  align-content: center;
  align-self: center;
  display: flex;
  justify-content: space-around;
  justify-self: end;
  margin-right: 30px;
  height: 50px;
  width: 250px;
}

.open-btn {
  align-content: center;
  border: solid 1.5px #d3dbe1;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  height: 35px;
}

.open-btn:hover {
  background-color: #A1ABBE;
}

.open-btn:hover .title-icon-text {
  color: #FFFFFF;
}

.title-icon-text {
  color: #707a8a;
  font-size: .75em;
  font-weight: bold;
  position: relative;
  right: 15px;
  top: 10px;
}

.fa-circle2 {
  color: #8ec448;
  bottom: .5px;
  font-size: .8em;
  left: 10px;
  position: relative;
}

.title-icons {
  border: solid 1.5px #d3dbe1;
  border-radius: 50%;
  height: 35px;
  font-size: .8em;
  margin: 0;
  position: relative;
  width: 35px;
}

.title-icons:hover {
  background-color: #A1ABBE; 
}

.title-icons:hover .fa-bookmark,
.title-icons:hover .fa-pen-alt,
.title-icons:hover .fa-trash-alt {
  color: white;
}

.fa-bookmark,
.fa-pen-alt,
.fa-trash-alt {
  position: relative;
  right: 9px;
  top: 9px;
}

/*Hidden page break*/
.hidden-page-break {
  background-color: #FFFFFF;
  display: none;
}


/*User pages section*/

.user-pages {
  background-color: #ECF2F6;
}

.page-selection {
  background-color: #FFFFFF;
  border-bottom: solid .5px #d8dfe4;
  font-weight: bold;
  height: 40px;
  padding: 0 0 0 40px;
}

.summary-page {
  max-height: 100%;
  padding-bottom: 50px;
}

.page-nav {
  border-bottom: solid 3px #FFFFFF;
  font-size: .65em;
  height: 40px;
  margin: 0 10px;
  padding-bottom: 19px;
}

.page-nav:hover {
  border-bottom: solid 3px #26a6f7;
  color: black;
}

/*Bellow is the summary page*/

.stats {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.stat-charts {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
}


/*Here are the circle charts:*/


.flex-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.single-chart {
  justify-content: space-around ;
  width: 150px;
}

.circular-chart {
  display: block;
  height: 150px;
  margin: 10px auto;
  max-width: 800px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 2.2;
}

.circle {
  animation: progress 1s ease-out forwards;
  fill: none;
  stroke-width: 2.2;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.chart1 .circle {
  stroke: #46B9C1;
}

.circular-chart.chart2 .circle {
  stroke: #1CA0EA;
}

.circular-chart.chart3 .circle {
  stroke: #B163B3;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.chart-text {
  font-size: .2em;
  text-anchor: middle;
}

@media (max-width: 800px) {

}
.interview-total {
  color: #3ea2e0;
}

/*The graph lives mostly in the js*/

.graph-box {
  margin-right: 40px;
}

.graph-box:after {
  content: "";
  clear: both;
  display: table;
}

.interactive-graph {

}

.graph {
  height: 220px;
  width: 400px;

}

.tool-tip {
  background-color: #364051;
  color: #FFFFFF;
  margin: 0;
  padding: 10px;
  text-align: center;
}

/*The two graph labels*/

.stat-label,
.graph-label {
  align-self: center;
  background-color: #FFFFFF;
  border: solid 1px #d2dae1;
  border-radius: 25px;
  color: #7a8393;
  font-size: .75em;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.graph-label {
  margin: auto;
  width: 130px;
}

.fa-circle3 {
  bottom: 3px;
  color: #7a8393;
  font-size: 3px;
  margin: 5px;
  position: relative;
}

.total-views{
  color: #596678;
}

.applicant-total {
  color: #58cdd5;
}


/*line break*/

.page-break-toggle {
  background-color: #ECF2F6;
  display: flex;
  justify-content: space-around;
  margin: auto auto 30px;
  width: 90%;
}

.line-break-hr {
  margin: 10px 0;
  width: 46%;
}

.page-break-circle {
  background-color: #FFFFFF;
  border: solid 1px #d2dae1;
  border-radius: 100px;
  bottom: 3px;
  height: 30px;
  margin: 0;
  position: relative;
  width: 30px;
}

.fa-chevron-up {
  font-size: .7em;
  position: relative;
  right: 9px;
  top: 3px;
}


/*user overview*/

.user-overview {
  background-color: #ECF2F6;
  margin: 0;
  padding: 0 15px;
}

.info-and-sharing {
  display: grid;
  grid-template-columns: 80% 280px;
  grid-gap: 40px;
  justify-content: space-around;
  margin: auto;
  width: 75%;
}

/*user info*/

.user-info {
  background: #FFFFFF;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.position-info,
.entered-info {
  color: #7a8a9f;
  font-size: .8em;
}

.edit-btn {
  background-color: #7d8da5;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: .8em;
  font-weight: bold;
  height: 30px;
  margin-top: 25px;
  text-align: center;
  width: 90px;
}

.edit-btn:hover {
  filter: brightness(70%);
}

.fa-pencil-alt {
  color: white;
  margin: auto 15px auto 0;
}

.fa-pencil-alt::before {
  margin: 0;
}

.info-box-dark {
  background-color: #6f7f94;
  padding-bottom: 10px;
}

.position-break-1 {
  margin: 0;
}

.position1 {
  color: #FFFFFF;
}

.user-info-box {
  border-radius: 3px 3px 0 0;
  box-sizing: contain;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.user-info-box:hover .position-page-break {
  margin-top: 0
}

.position-page-break {
  border: solid 1px #ECF2F6;
  display: block;
  width: 90%;
}

.position-info {
  font-weight: bold; 
  height: 60px;
  line-height: 60px;
  margin: 10px 0 auto 30px;
  min-width: 150px;
  width: 25%;
}

.entered-info {
  border: none;
  margin: 10px 0 auto;
  overflow: scroll;
  padding-bottom: 20px;
  padding-top: 22px;
  resize: none;
  width: 50%;
}

.hiring-lead {
  bottom: 15px;
  height: 100%;
  position: relative;
}

.frankie2 {
  border-radius: 100px;
  margin: 0 10px 0 0;
  position: relative;
  top: 8px;
  width: 30px;
}


/*sharing*/

.share-btn {
  border-radius: 3px;
  color: #FFFFFF;
  height: 50px;
  line-height: 50px;
  margin: 20px auto;
  text-align: center;
  width: 280px;
}

.facebook {
  background-color: #4c72bf;
  margin-top: 0;
}

.twitter {
  background-color: #1cacec;
}

.linkedin {
  background-color: #1683bb;
  margin-bottom: 45px;
}

.facebook:hover,
.twitter:hover,
.linkedin:hover {
  cursor: pointer;
  filter: brightness(105%);
}

.fa-facebook-f {
  position: relative;
  right: 47px;
}

.fa-linkedin {
  position: relative;
  right: 50px;
}

.fa-twitter {
  position: relative;
  right: 56px;
}

.share-options {
  margin: 40px auto;
  width: 280px;
}

.fa-globe-americas::before,
.fa-tablet-alt::before,
.fa-paper-plane::before {
  color: #707a8a;
  position: relative;
  right: 15px;
}

.share-instructions {
  color: #707a8a;
}

.share-instructions-info {
  font-size: .8em;
  margin-bottom: 20px;
}

.link-form {
  display: flex;
}

.link-text {
  background-color: white;
  border-bottom: solid .5px #dadfe3;
  border-radius: 3px;
  color: #707a8a;
  font-size: .7em;
  font-weight: bold;
  overflow: hidden;
  padding: 20px 5px 20px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.email-link {
  padding-right: 55px;
}

.link-btn {
  background-color: #4dbac0;
  color: white;
  font-size: .7em;
}

.link-btn:hover {
  filter: brightness(80%);
}

.sharing-break {
  border-color: #d2dae1;
  border-width: .5px;
  width: 90%;
}


/*------------MEDIA QUERIES------------*/


@media (max-width: 1139px){
  .stats {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .stat-charts {
    justify-content: center;
  }

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } 


  .single-chart {
    margin: auto 20px;
    width: 40%;
  }

  .graph-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .graph-label {
    margin: 0;
  }

  .page-break-box {
    width: 100%;
  }

  .hidden-page-break {
    background-color: #FFFFFF;
    border: solid .5px;
    color: #ecf2f6;
    display: block;
    width: 40%;
  }

  .page-selection {
    margin-top: -8px;
    padding: 0;
    padding-bottom: 9px;
    text-align: center;
  }
}

@media (max-width: 990px) {

  .info-and-sharing {
    display: flex;
    flex-direction: column;
  }

  .sharing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  .sharing-break {
    width: 70%;
  }

  .share-options {
    width: 70%;
    margin: 20px auto;
  }

  .link-text {
    width: 100%;
  }

  .share-btn {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .fa-facebook-f {
    position: relative;
    right: 7px;
  }

  .fa-linkedin {
    position: relative;
    right: 10px;
  }

  .fa-twitter {
    position: relative;
    right: 16px;
  }

}

@media (max-width: 920px) {

  .page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .title {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: center;
    margin: 40px auto 10px;
  }

  .title-info {
    text-align: center;
    margin-bottom: 15px;
    padding-right: 25px;
  }

  .title-nav {
    margin: 0;
    margin: auto;
  }

  .sharing {
    flex-direction: column-reverse;
  }

  .share-btn {
    width: 70%;
  }

  .share-options {
    width: 90%;
  }

}


@media (max-width: 850px) {
  .stats {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 0;
  }

  .flex-wrapper {
    justify-content: space-around;
  }

  .stat-charts {
    align-self: center;
  }

  .graph-box {
    margin: 30px auto;
  }

}



@media (max-width: 800px) {

  .page-selection {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 14px;
  }

  .page-nav {
    margin: auto 20px 10px;
    padding: 0;
  }

  .title-nav {
    margin-bottom: 20px;
  }

  .search-input::placeholder {
    color: white;
  }

  .user-info-box {
    justify-content: center;
  }

}

@media (max-width: 759px) {

  .position-info {
    text-align: center;
    margin: 0;
  }

  .edit-btn {
    margin-top: 15px;
  }

  .entered-info {
    padding: 0;
    width: 80%;
    text-align: center;
    margin: 0;
  }

  .last-info {
    margin-bottom: 20px;
  }

}

@media (max-width: 505px) {

  .share-instructions {
    font-size: .8em;
  }

}

@media (max-width: 400px) {

  h1 {
    font-size: 1.2em;
  }

  .page-selection {
    height: 120px;
    padding-bottom: 18px;
  }

  .title-info {
    display: flex;
    flex-direction: column;
  }

  .title-info-text1 {
    margin: 5px;
  }

  .title-info-text2 {
    position: relative;
    left: 5px;
  }

  .fa-circle1 {
    display: none;
  }

}

@media (max-width: 385px) {

  main {
    width: 100vw;
  }

  .sidebar-group {
    justify-content: space-evenly;
  }

  .user-btn {
    width: 60px;
    height: 60px;
  }

  .search-bar {
    height: 120px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  button.toggle-sidebar {
    width: 0;
  }

  .search-input {
    width: 79%;
    height: 58px;
  }

  .search-btn {
    height: 60px;
    border-left: none;
    margin: 0;
  }

  .searchbar-btns {
    margin: auto;
  }

  .user-btn {
    margin: 0 5px;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  .graph {
    width: 200px;
  }

  .share-btn {
    width: 90%;
  }

}












